/* unvisited link */
a:link {
    color: #002699;
}

/* visited link */
a:visited {
    color: #1a53ff;
}

/* mouse over link */
a:hover {
    color: #1a53ff;
}

.blue {
	background-color: lightblue;
}
.page {
    background-color: #f2f2f2;
}

.sliderLeft {
	background-color: #3366ff;
	box-shadow: 5px 5px 5px #002699;
}
.sliderElement:hover {
	box-shadow: 5px 5px 5px #002699;
}

.sliderElement.selected {
	background-color: #0033cc;
	box-shadow: 5px 5px 5px #002699;
}

th {
    align: center;
}