a {
    text-decoration: none;
}

/* mouse over link */
a:hover {
	text-decoration: underline;
}
a#travislink:hover {
	text-decoration: none;
}
p {
    text-indent:25px;
	text-align: justify;
}

ul.dash {
    list-style: none;
}
ul.dash > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}
.page {
    box-shadow: 5px 5px 5px #888888;
}

.mlr15 {
    margin-left: 15%;
    margin-right: 15%;
}

#barbossa {
    height: auto; 
    width: 100%; 
}

.pageContent {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 4%;
	padding-bottom: 10%;
	
}
.pageHeader {
	padding-top: 5%;
	margin-left: 45%;
}

.sliderLeft {
	border-radius:10px;
	width: 5em;
	position: absolute;
	left: -2.5em;

	top: 12em;

}
.sliderLeft:hover{
	left: -0.4em;
}

.sliderRight {
	width: 5em;
	position: absolute;
	right: 0em;

	top: 12em;

}
.sliderElement {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.3em;
}

.sliderElement:hover {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.6em;
}

.sliderElementRight {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.3em;
}

.sliderElementRight:hover {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.6em;
}

.avatar {
    height: 32px;
	width: 32px;
}

footer {
    margin: auto;
    color: #0033cc;
    text-align:center; //to align the text in center
}​